﻿@model GraphApp.ViewModels.MainViewModel

@{
    ViewBag.Title = "Graph APP";
}

<div class="row">

    <div class="col-md-8">
        <div id="cy"></div>
        <div class="pull-right">
            <button id="btnCalculateShortestPath" type="button" class="btn btn-default">Calculate shortest path</button>
        </div>
    </div>

    <div class="col-md-3">
        <p>Please select the root node by left click.</p>

        <p>Please select the target node by right click.</p>
    </div>

</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {

            // constants
            const NODE_COLOR = '#666'
            const EDGE_COLOR = '#ccc'
            const NODE_START_COLOR = '#A8CD1B'
            const NODE_END_COLOR = '#990000'
            const EDGE_PATH_COLOR = '#CBE32D'

            // graph data
            var data = {
                nodes: @Html.Raw(Json.Encode(Model.nodes)),
                edges: @Html.Raw(Json.Encode(Model.edges)),
            };
            
            // cytoscape init
            var cy = cytoscape({

                container: $('#cy'),

                elements: data,

                style: [
                  {
                      selector: 'node',
                      style: {
                          'background-color': NODE_COLOR,
                          'label': 'data(Label)'
                      }
                  },

                  {
                      selector: 'edge',
                      style: {
                          'width': 3,
                          'line-color': EDGE_COLOR,
                          'target-arrow-color': EDGE_COLOR,
                          'target-arrow-shape': 'triangle',
                          'curve-style': 'bezier'
                      }
                  }
                ],

                layout: {
                    name: 'breadthfirst',
                    rows: 1
                },   
                zoomingEnabled: false

            });

            var rootEdge = null;
            var targetEdge = null;

            // node left click
            cy.on('tap', 'node', function (evt) {
                var node = evt.cyTarget;
                var id = node.id();

                if(targetEdge == id)
                    targetEdge = null;

                if(rootEdge != null)
                    cy.nodes('#'+rootEdge).style('background-color', NODE_COLOR)
                
                node.style('background-color', NODE_START_COLOR)
                rootEdge = id;

                cy.edges().style('line-color', EDGE_COLOR);

            });      
            
            // node right click
            cy.on('cxttap', 'node', function (evt) {
                var node = evt.cyTarget;
                var id = node.id();
                
                if(rootEdge == id)
                    rootEdge = null;

                if(targetEdge != null)
                    cy.nodes('#'+targetEdge).style('background-color', NODE_COLOR)

                node.style('background-color', NODE_END_COLOR)
                targetEdge = id;  

                cy.edges().style('line-color', EDGE_COLOR);
            });   

            // calculate click
            $('#btnCalculateShortestPath').on('click', function () {
                if(rootEdge != null && targetEdge != null){
                    $.ajax({
                        url: "@(Url.Action("CalculateShortestPath", "Main"))",
                        type: "POST",
                        data: { rootEdge: rootEdge, targetEdge: targetEdge},
                        cache: false,
                        async: true,
                        success: function (data) {
                            // change edges colors
                            cy.edges().style('line-color', EDGE_COLOR);
                            $.each(data, function( i, val ) {
                                cy.edges('#'+val).style('line-color', EDGE_PATH_COLOR);
                            });
                        }
                    });
                }else{
                    alert("Please select the root and the target node.")
                }

            });

            function setDefaultNodesColor(){
                cy.nodes.style('background-color', NODE_COLOR);
            }

        });
    </script>
}

@Scripts.Render("~/bundles/cytoscape")